*{
  box-sizing: border-box
}
html,body{
  padding:0;
  margin:0;
  background-image: url("./pic1.jpg");
}
#userInfo{
  color:blue;
  font-size:30px;
}
.flex-container{
    padding-top:200px;
    width:100%;
    display: flex;
    color:white !important;
    justify-content: center;
    align-items: center;
}

.col-7{
    width:100%*7/12
  }
  .banner{
    margin-left:200px;
  }
  
  .col-5{
    
    text-align: center;
    justify-content: center;
    color:black

  }
  .wrapbox{
     padding-top:20px;
      color:black;
      background-color: white;
      border: 1px solid black;
      width:350px;
      height:100%;

  }

  #email{
    width:300px;
    margin:10px;
    border: 1px solid black;
  }
  #username{
    width:300px;
      margin:10px;
      border: 1px solid black;
  }
  #phone{
    width:300px;
    margin:10px;
    border: 1px solid black;
  }
  #editor{
    width:300px;
      margin:10px;
      height:100px;
      border: 1px solid black;
  }
  .btn-danger{
    width:300px;
    margin-bottom:10px;
    border: 1px solid black;
  }